body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    background-color: teal;
    color: #fff;
}



header {
    text-align: center;
}

main {
    text-align: center;
}

#resultado {
    padding-top: 1rem;
}

input {
    padding: 0.5rem;
    font-size: 1.2rem;
}
