html {
    color: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#area {
    font-size: 1.5rem;
    background-color: teal;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}
